BABEL_SEED=1
BABEL_LOG_LEVEL=INFO
SERVICE_A_URL=http://localhost:8101
SERVICE_B_HOST=localhost
SERVICE_B_PORT=8201
SERVICE_C_HOST=localhost
SERVICE_C_PORT=8301
BABEL_DEFAULT_TIMEOUT_MS=2000
BABEL_HEALTHCHECK_TIMEOUT_S=0.75
BABEL_HEALTHCHECK_INTERVAL_S=5
BABEL_CONTROL_URL=http://localhost:8090
BABEL_CONTROL_TOKEN=babel-local-dev
